*build*
external/mxx
external/cxxblacs
external/libint2/include
external/libint2/lib
external/libint2/share
external/libint2/src
external/libint2/tmp
external/libint2/libint*/
external/openblas/include
external/openblas/lib
external/openblas/src
external/openblas/tmp
external/openblas/bin
external/openblas/Open*/
external/libxc/include
external/libxc/bin
external/libxc/lib
external/libxc/share
external/libxc/src
external/libxc/tmp
doc
*.*.swp
*~
